body 
{
	text-align: center;
	font-family: Monospace;
	font-weight: bold;
	background-color: #000000;
	margin: 0px;
	font-size: small;
	overflow: hidden;
}
div#ThreeJS {
    left: 0px;
}
div#screenTooSmall {
    display: none;
}
@media screen and (max-width: 560px) {
    div#screenTooSmall {
        display: block;
        position: absolute;
        background-color: black;
        color: white;
        padding-top: 10%;
        width: 100%;
        height: 100%;
        z-index:10;
    }
}
div#controls {
	border-style: solid;
	border-width: 3px;
	background-color: white;
    position: absolute;
    left: 0;
    top: 12%;
	height: 88%;
	width: 230px;
    overflow-y: auto;
    pointer-events: inherit;
    padding-bottom: 5px;
}
div#controls button {
    margin: 2px;
}
div#points {
	padding: 0px;
	border-style: solid;
	border-width: 3px;
	background-color: white;
    position: absolute;
    right: 0;
	height: 88%;
    top: 12%;
	width: 255px;
    overflow-y: auto;
    padding-bottom: 5px;
}
@media screen and (max-height: 290px) {
    div#points,
    div#controls {
	height: 88%;
    top: 40px;
    }
}
select#pointsOutput {
	overflow: auto;
	width: 85%;
}
div#authorInfo {
	position: fixed;
	bottom: 2%;
	width: 270px;
	padding: 10px;
}
div#title {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;        
}
div#instructions {
    width: 100%; 
    height: 200px; 
    overflow-y: scroll; 
    text-align: left;
}
#instructions h4,
#instructions h5,
#instructions h6 {
    text-align: center;
}
div#logo {
    z-index: 2;
	position: absolute;
    top: 4px;
    left: 4px;
}
h1 {
    margin: 3px;
}