body 
{
	text-align: center;
	font-family: Monospace;
	font-weight: bold;
	background-color: #ccccff;
	margin: 0px;
	font-size: small;
	overflow: hidden;
}
div#controls {
	border-style: solid;
	border-width: 3px;
	background-color: white;
    position: fixed;
    left: 0;
    top: 6%;
	height: 100%;
	width: 270px;
}
div#points {
	padding: 10px;
	border-style: solid;
	border-width: 3px;
	background-color: white;
    position: fixed;
    right: 0;
	height: 100%;
    top: 6%;
	width: 300px;
}
div#outputPoints {
	position: fixed;
	bottom: 2%;
	width: 300px;
}
select#pointsOutput {
	overflow: auto;
	width: 80%;
}
div#authorInfo {
	position: fixed;
	bottom: 2%;
	width: 270px;
	padding: 10px;
}